.day-selector {
    margin-top: 20px;
    border-color: grey;
}

.nav-link.selected-day.active {
    color: white;
    background: grey;
    border-color: grey;
}


.nav-tabs .nav-item.day-item {
    margin-bottom: -3px;
}

.day-link {
    color: #CECECE;
}

.day-link:hover {
    color: white;
    border: none; 
}

/* focus: elemento seleccionado*/
.day-link:focus {
    border: none; 
}

.cine-box {
    margin-top: 15px;
    /*border: 1px solid rgba(0, 0, 0, 0.12);*/
    min-height: 200px;
    background: #1a1a1a;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}


.cine-header {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color:#dedede;
    font-size: 15px;
}
                
.cine-times {
    width: 100%;
    padding: 15px 30px;
    height: 100%;
}

.cine-time {
    margin: 3px;
    padding: 5px;
    
}

.cine-name {
    font-weight: bold;
    margin-bottom: 0px;
}