.day-selector {
    margin-top: 20px;
    border-color: grey;
}

.nav-link.selected-day.active {
    color: white;
    background: grey;
    border-color: grey;
}

.nav-tabs .nav-item.day-item {
    margin-bottom: -3px;
}

.day-link {
    color: #CECECE;
}

.day-link:hover {
    color: white;
    border: none; 
}

/* focus: elemento seleccionado*/
.day-link:focus {
    border: none; 
}

.cine-box {
    margin-top: 15px;
    border: 1px solid #CECECE;
    height: 200px;
}


.cine-header {
    width: 100%;
    background: red;
    padding: 15px;
}
                
.cine-times {
    width: 100%;
    background: blue;
    padding: 15px;
}