

.list-movies {
    background: black;
}
.video-banner {
    width: 500px;
}

.banner-container {
    display: flex;
    background: #2f2226;
    justify-content: center;
}


.banner-container-video {
    width: 500px;
}

.no-padding {
    padding: 0;
}

.movie-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    text-align: center;
}
.movie-image {
    width: 100%;
}

.movie-image:hover + .movie-overlay {
    display: flex;
}
.movie-overlay:hover {
    display: flex;
}   
.movie-container {
    position:relative;
    overflow: hidden;
    margin-bottom: 10px;
}

@media screen and ( min-width: 576px ) { 
	.movie-container {
        height: 229px;
    }
}

@media screen and ( min-width: 768px ) { 
	.movie-container {
		height: 300px;
	}
}

@media screen and ( min-width: 992px ) { 
	.movie-container {
		height: 202px;
	}
}

@media screen and ( min-width: 1200px ) { 
	.movie-container {
		height: 240px;
	}
}

.movie-name {
    color:white;
    font-weight: bold;
}

.movie-trailer {
    width: 100%; 
    height: 100%;  
    min-height: 300px; 
}

.movie-expanded {
    display: none;
}