.login_button_submit{

	background: transparent;
	border: none !important;
	padding: 15px 32px;
}



/* Style buttons */
.admin_buttons {
	background-color: DodgerBlue; /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */ /* Some padding */
	font-size: 12px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .delete_button:hover {
	background-color: RoyalBlue;
  }


body {
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
	background: #2f2226;
	color: #fafafa;
	overflow-x: hidden;
}

.a-default {
	color: #333;
	text-decoration: none;
}

.a-default:hover {
    text-decoration: underline;
    cursor: pointer;
}

.a-fb {
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

.a-tw {
	text-decoration: none;
}

.a-twitch {
	text-decoration: none;
}

.twitch-button-container {
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	background: #9147ff;
}

.twitch-button-container:hover {
	background: #772ce8;
}

.fb-button-container {
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	background: #3d6ad6;
}

.fb-button-container:hover {
	background: #1D3C78;
}

.tw-button-container {
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	background: #1da1ff;
}

.tw-button-container:hover {
	background: #1a90da;
}

.loading-overlay {
	display: none;
	background: rgba( 26, 26, 26, 0.7 );
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 5;
	top: 0;
}

.loading-overlay-image-container {
	display: none;
	position: fixed;
	z-index: 7;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

.loading-overlay-img {
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

@media screen and ( min-width: 800px ) { /* desktop */
	.pc-only {
		display: block;
	}

	.mobile-only {
		display: none;
	}
}

@media screen and ( max-width: 800px ) { /* mobile */
	.pc-only {
		display: none;
	}

	.mobile-only {
		display: block;
	}
}

.bg-black {
	background: #2f2226;
}
.bg-black .body {
	background: #2f2226 !important;
	
}


.text-white {
	color: white; 
}


.table {
	color: #fafafa;
}

.footer {
	padding: 10px;
    background: black;
}
.footer p {
	margin: 0;
}

.content-container {
	min-height: calc(100vh - 140px);
}

.admin-nav {
	height: 76px;
}

.footer-content {
	justify-content: center;
    display: flex;
    align-items: center;
}
.title-reservation {
	padding-top: 10px;
}